{% extends "network/layout.html" %}

{% block body %}

    
    <div id="new-view"> 
        <h3>New Post</h3>

        <!-- Form to create new post-->
        <form id="new_post-form" action="{% url 'new_post' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ request.user }}" name="creator">
            {% if user.is_authenticated %}
                <textarea class="form-control" id="new-content" placeholder="What's up?" name="content"></textarea>
                <input type="submit" class="btn btn-primary" id = "new_email"/>
            {% else %}
                Sign in to make a post!
            {% endif %}
        </form> 
    
    </div>

    <div id="profile-view">

        <div id="profile_details">
            
        </div>
<!--
        {% if user.is_authenticated %}
            
            <form action = "{% url 'follow' %}">

                <input type="hidden" name="current_user" value="{{user}}">
                <button type="submit"> Follow This User </button>

            </form>

        {% endif %}
        -->
    </div>

    <div id="posts-view">        
    </div>


    
{% endblock %}